include dropdown-input
mixin dropdownW320(args, ...items)
    .dropdown.dropdown_w320
        +dropdown-input(args)
        .dropdown__menu.label
            ul.dropdown__list
                each item in items
                    li= item.itemName 
                        .dropdown__counter
                            button(data-item = item.itemData).dropdown__dec= "-"
                            span.dropdown__count= 0
                            button(data-item = item.itemData).dropdown__inc= "+"
            .dropdown__btns
                button.dropdown__btns-clear.label Очистить
                button.dropdown__btns-accept.label Применить

mixin dropdownW266(args, ...items)
    .dropdown.dropdown_w266
        .label.label_pdng #{args.label}
        +dropdown-input(args)
        .dropdown__menu.label
            ul.dropdown__list
                each item in items
                    li= item.itemName 
                        .dropdown__counter
                            div(data-item = item.itemData)= "-"
                            span.dropdown__count= 0
                            div(data-item = item.itemData)= "+"