
include ../dropdown-input
mixin dropdown_comfort(args, ...items)
    .dropdown.dropdown_comfort(data-name = args.name)
        +dropdown-input(args)
        .dropdown__menu.label.dark-shade-100
            ul.dropdown__list
                each item in items
                    li(data-item = item.itemData)= item.itemName 
                        .dropdown__counter
                            .dropdown__dec(id = `${item.id}Dec`)= "-"
                            span.dropdown__count= 0
                            .dropdown__inc(id = `${item.id}Inc`)= "+"
mixin dropdown_guests(args, ...items)
    #dropdown_guests.dropdown.dropdown_guests(class!=attributes.class data-name = args.name)
        +dropdown-input(args)
        .dropdown__menu.label.dark-shade-100
            ul.dropdown__list
                each item in items
                    li(data-item = item.itemData)= item.itemName 
                        .dropdown__counter
                            .dropdown__dec(id = `${item.id}Dec`)= "-"
                            span.dropdown__count= 0
                            .dropdown__inc(id = `${item.id}Inc`)= "+"
            .dropdown__btns
                .dropdown__btns-clear.label.dark-shade-50 Очистить
                .dropdown__btns-accept.label.purple Применить
        